<section class="bg-base-50 p-8 rounded-xl lg:p-20 mt-12 md:mt-16 lg:mt-20">
  <h2
    id="newsletter-heading"
    class="text-2xl text-balance font-medium font-display text-base-900 text-center"
  >
    Info square
  </h2>

  <form
    action=""
    method="post"
    class="mt-8"
    aria-label="Newsletter signup form"
  >
    <div class="flex flex-col w-full max-w-md mx-auto gap-3 sm:flex-row">
      
    </div>
  </form>
</section>
