<footer class="border-t border-base-200">
  <div class="max-w-6xl mx-auto px-4 py-12">
    <div class="grid gap-8 md:grid-cols-2 text-xs text-base-500">
      <div class="space-y-2">
        <p
          x-data="{ year: new Date().getFullYear() }"
        >
          © <span x-text="year" class="text-base-700"></span> Nicolas Jaroussie
        </p>
        <ul class="space-y-1">
          <li><a href="/privacy" class="hover:underline">Privacy Policy</a></li>
          <li><a href="/legal" class="hover:underline">Legal Notice</a></li>
          <li><a href="/sitemap" class="hover:underline">Sitemap</a></li>
        </ul>
      </div>
      <div class="space-y-2">
        <h3 class="text-base-700">Colophon</h3>
        <p>
          Font: Inter, designed by Rasmus Andersson. Framework based on Microblog by Mike Andreuzza. Hosted on Github, and distributed with Cloudflare.
        </p>
      </div>
    </div>
  </div>
</footer>